.spinnerStyleContainer {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999999;
}

.spinnerStyle {
  top: 50%;
}

.couponCode {
  height: 60px;
  width: 100%;
  position: absolute;
  bottom: 0px;
  z-index: 9px;
  background: red;
}
